/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*-----------------------------------------------------------------------------------------------------*/
/*[Derived from WCS]*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*---------------------------------------------------------------------------------------------*/
body{
    background: url(images/image2.jpg);
}
.CONTENT{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 15vh;
    background: rgb(29, 4, 138);
    background: linear-gradient(90deg, rgb(29, 4, 138) 0%, rgb(107, 29, 253) 50%, rgb(69, 124, 252) 100%);
    position: fixed;
}
.hEaD{
    padding-top: 4px;
    font-family: "Skranji";
    font-weight: 700;
    font-size: 70px;
    color: rgba(191, 207, 243, 0.404);
    text-transform: uppercase;
}
.CONTENT ul{
    display: flex;
    float: right;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.CONTENT ul li{
    list-style: none;
    margin: 10px;
}
.CONTENT ul a{
    font-weight: 700;
    font-family:"Josefin Sans";
    font-style: oblique;
    font-size: 37px;
    text-decoration: none;
    color: rgba(36, 70, 179, 0.788);
}

.intro{
    padding-top: 15vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: "Josefin Sans";
    font-size: x-large;
    padding-left: 10%;
    padding-right: 10%;

}

.intro input text{
    height: 10vh;
}
.contacts{
    color: red;
}
.Contacts{
    padding-top: 15vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: "Josefin Sans";
    font-size: x-large;
    padding-left: 10%;
    padding-right: 10%;

}
hr{
    color: tomato;
    list-style: armenian;

}
.Contacts span{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
footer{
    height: 10vh;
}
footer h1{
    color: aliceblue;
    font-family: "Josefin Sans";
    font-size: x-large;
}